* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f85032;
  background: -webkit-gradient(linear, left top, right top, from(#e73827), to(#f85032));
  background: linear-gradient(to right, #e73827, #f85032);
  overflow: hidden;
}

.bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: linear infinite firebullet 6s;
          animation: linear infinite firebullet 6s;
  position: absolute;
  left: -300px;
}

.bullet .behind_bullet {
  width: 40px;
  background-color: #101010;
  height: 175px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 8px;
  position: relative;
}

.bullet .behind_bullet:after {
  content: '';
  position: absolute;
  width: 8px;
  right: -8px;
  top: 20px;
  height: 140px;
  background-color: black;
}

.bullet .bullet_body {
  height: 175px;
  width: 250px;
  background-color: #101010;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: relative;
  overflow: hidden;
}

.bullet .bullet_body .bullets_eye {
  width: 45px;
  height: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
  position: absolute;
  top: 60px;
  right: 35px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}

.bullet .bullet_body .bullets_eye:after {
  content: '';
  height: 26px;
  width: 26px;
  background-color: black;
  position: absolute;
  top: -14px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.bullet .bullet_body .bullets_mouth {
  height: 50px;
  width: 100px;
  background-color: #C12A28;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: 12px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.bullet .bullet_body .bullets_mouth .top_row {
  height: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bullet .bullet_body .bullets_mouth .top_row .tooth {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 12.5px 0 12.5px;
  border-color: #ffffff transparent transparent transparent;
}

.bullet .bullet_body .bullets_mouth .bottom_row {
  height: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bullet .bullet_body .bullets_mouth .bottom_row .tooth {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 25px 12.5px;
  border-color: transparent transparent #ffffff transparent;
}

@-webkit-keyframes firebullet {
  0% {
    left: -300px;
  }
  100% {
    left: 100%;
  }
}

@keyframes firebullet {
  0% {
    left: -300px;
  }
  100% {
    left: 100%;
  }
}
/*# sourceMappingURL=style.css.map */