:root {
  --speed: 800ms;
  --delay: 4s;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
}

html, body {
  height: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  cursor: crosshair;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  margin: 0;
  padding: 0;
  place-items: center;
  width: 100%;
}

span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc(1rem + 4vmin);
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  -webkit-text-stroke-width: 1vmin;
  -webkit-text-stroke-color: white;
}

span:before, span:after {
  --size: 2px;
  content: '';
  height: var(--size);
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform var(--speed) var(--delay) var(--ease);
  transition: -webkit-transform var(--speed) var(--delay) var(--ease);
  transition: transform var(--speed) var(--delay) var(--ease);
  transition: transform var(--speed) var(--delay) var(--ease), -webkit-transform var(--speed) var(--delay) var(--ease);
  width: 100%;
  z-index: -1;
}

span:after {
  height: 100%;
  width: var(--size);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

span:nth-child(1n) {
  color: #b485a2;
}

span:nth-child(1n):before, span:nth-child(1n):after {
  background: #b485a2;
}

span:nth-child(2n) {
  color: #a2aac5;
}

span:nth-child(2n):before, span:nth-child(2n):after {
  background: #a2aac5;
}

span:nth-child(3n) {
  color: #a6d38a;
}

span:nth-child(3n):before, span:nth-child(3n):after {
  background: #a6d38a;
}

span:nth-child(4n) {
  color: #b9c4da;
}

span:nth-child(4n):before, span:nth-child(4n):after {
  background: #b9c4da;
}

span:nth-child(5n) {
  color: #86c0de;
}

span:nth-child(5n):before, span:nth-child(5n):after {
  background: #86c0de;
}

span:nth-child(6n) {
  color: #6ec77d;
}

span:nth-child(6n):before, span:nth-child(6n):after {
  background: #6ec77d;
}

span:nth-child(7n) {
  color: #d18c98;
}

span:nth-child(7n):before, span:nth-child(7n):after {
  background: #d18c98;
}

span:nth-child(8n) {
  color: #7ea1b1;
}

span:nth-child(8n):before, span:nth-child(8n):after {
  background: #7ea1b1;
}

span:nth-child(9n) {
  color: #76a166;
}

span:nth-child(9n):before, span:nth-child(9n):after {
  background: #76a166;
}

span:nth-child(10n) {
  color: #c4a2e1;
}

span:nth-child(10n):before, span:nth-child(10n):after {
  background: #c4a2e1;
}

span:nth-child(11n) {
  color: #826e83;
}

span:nth-child(11n):before, span:nth-child(11n):after {
  background: #826e83;
}

span:nth-child(12n) {
  color: #bad392;
}

span:nth-child(12n):before, span:nth-child(12n):after {
  background: #bad392;
}

span:nth-child(13n) {
  color: #669e94;
}

span:nth-child(13n):before, span:nth-child(13n):after {
  background: #669e94;
}

span:nth-child(14n) {
  color: #99d6bb;
}

span:nth-child(14n):before, span:nth-child(14n):after {
  background: #99d6bb;
}

span:nth-child(15n) {
  color: #aba2c9;
}

span:nth-child(15n):before, span:nth-child(15n):after {
  background: #aba2c9;
}

span:nth-child(16n) {
  color: #a9b1d6;
}

span:nth-child(16n):before, span:nth-child(16n):after {
  background: #a9b1d6;
}

span:nth-child(17n) {
  color: #ab98ad;
}

span:nth-child(17n):before, span:nth-child(17n):after {
  background: #ab98ad;
}

span:nth-child(18n) {
  color: #c6816d;
}

span:nth-child(18n):before, span:nth-child(18n):after {
  background: #c6816d;
}

span:nth-child(19n) {
  color: #bcc08e;
}

span:nth-child(19n):before, span:nth-child(19n):after {
  background: #bcc08e;
}

span:nth-child(20n) {
  color: #9aabc7;
}

span:nth-child(20n):before, span:nth-child(20n):after {
  background: #9aabc7;
}

span:nth-child(21n) {
  color: #b4da9d;
}

span:nth-child(21n):before, span:nth-child(21n):after {
  background: #b4da9d;
}

span:nth-child(22n) {
  color: #b3c477;
}

span:nth-child(22n):before, span:nth-child(22n):after {
  background: #b3c477;
}

span:nth-child(23n) {
  color: #91ceb6;
}

span:nth-child(23n):before, span:nth-child(23n):after {
  background: #91ceb6;
}

span:nth-child(24n) {
  color: #768968;
}

span:nth-child(24n):before, span:nth-child(24n):after {
  background: #768968;
}

span:nth-child(25n) {
  color: #d87c89;
}

span:nth-child(25n):before, span:nth-child(25n):after {
  background: #d87c89;
}

span:hover:before, span:hover:after {
  -webkit-transition-duration: calc(var(--speed) / 10);
          transition-duration: calc(var(--speed) / 10);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

span:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

span:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
/*# sourceMappingURL=style.css.map */