:root {
  --speed: 800ms;
  --delay: 4s;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
}

html, body {
  height: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  cursor: crosshair;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  margin: 0;
  padding: 0;
  place-items: center;
  width: 100%;
}

span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc(1rem + 4vmin);
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  -webkit-text-stroke-width: 1vmin;
  -webkit-text-stroke-color: white;
}

span:before, span:after {
  --size: 2px;
  content: '';
  height: var(--size);
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform var(--speed) var(--delay) var(--ease);
  transition: -webkit-transform var(--speed) var(--delay) var(--ease);
  transition: transform var(--speed) var(--delay) var(--ease);
  transition: transform var(--speed) var(--delay) var(--ease), -webkit-transform var(--speed) var(--delay) var(--ease);
  width: 100%;
  z-index: -1;
}

span:after {
  height: 100%;
  width: var(--size);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

span:nth-child(1n) {
  color: #878aa1;
}

span:nth-child(1n):before, span:nth-child(1n):after {
  background: #878aa1;
}

span:nth-child(2n) {
  color: #c296ad;
}

span:nth-child(2n):before, span:nth-child(2n):after {
  background: #c296ad;
}

span:nth-child(3n) {
  color: #b667c8;
}

span:nth-child(3n):before, span:nth-child(3n):after {
  background: #b667c8;
}

span:nth-child(4n) {
  color: #9e9195;
}

span:nth-child(4n):before, span:nth-child(4n):after {
  background: #9e9195;
}

span:nth-child(5n) {
  color: #dbcdc3;
}

span:nth-child(5n):before, span:nth-child(5n):after {
  background: #dbcdc3;
}

span:nth-child(6n) {
  color: #e1c2bd;
}

span:nth-child(6n):before, span:nth-child(6n):after {
  background: #e1c2bd;
}

span:nth-child(7n) {
  color: #d670b5;
}

span:nth-child(7n):before, span:nth-child(7n):after {
  background: #d670b5;
}

span:nth-child(8n) {
  color: #a269b5;
}

span:nth-child(8n):before, span:nth-child(8n):after {
  background: #a269b5;
}

span:nth-child(9n) {
  color: #99706c;
}

span:nth-child(9n):before, span:nth-child(9n):after {
  background: #99706c;
}

span:nth-child(10n) {
  color: #a47dc8;
}

span:nth-child(10n):before, span:nth-child(10n):after {
  background: #a47dc8;
}

span:nth-child(11n) {
  color: #c8b3d1;
}

span:nth-child(11n):before, span:nth-child(11n):after {
  background: #c8b3d1;
}

span:nth-child(12n) {
  color: #816682;
}

span:nth-child(12n):before, span:nth-child(12n):after {
  background: #816682;
}

span:nth-child(13n) {
  color: #b1a1ad;
}

span:nth-child(13n):before, span:nth-child(13n):after {
  background: #b1a1ad;
}

span:nth-child(14n) {
  color: #7fbad5;
}

span:nth-child(14n):before, span:nth-child(14n):after {
  background: #7fbad5;
}

span:nth-child(15n) {
  color: #aa8495;
}

span:nth-child(15n):before, span:nth-child(15n):after {
  background: #aa8495;
}

span:nth-child(16n) {
  color: #7ab1ca;
}

span:nth-child(16n):before, span:nth-child(16n):after {
  background: #7ab1ca;
}

span:nth-child(17n) {
  color: #739280;
}

span:nth-child(17n):before, span:nth-child(17n):after {
  background: #739280;
}

span:nth-child(18n) {
  color: #a388ca;
}

span:nth-child(18n):before, span:nth-child(18n):after {
  background: #a388ca;
}

span:nth-child(19n) {
  color: #b3b4be;
}

span:nth-child(19n):before, span:nth-child(19n):after {
  background: #b3b4be;
}

span:nth-child(20n) {
  color: #81a989;
}

span:nth-child(20n):before, span:nth-child(20n):after {
  background: #81a989;
}

span:nth-child(21n) {
  color: #b795d1;
}

span:nth-child(21n):before, span:nth-child(21n):after {
  background: #b795d1;
}

span:nth-child(22n) {
  color: #669982;
}

span:nth-child(22n):before, span:nth-child(22n):after {
  background: #669982;
}

span:nth-child(23n) {
  color: #c2a4ac;
}

span:nth-child(23n):before, span:nth-child(23n):after {
  background: #c2a4ac;
}

span:nth-child(24n) {
  color: #938285;
}

span:nth-child(24n):before, span:nth-child(24n):after {
  background: #938285;
}

span:nth-child(25n) {
  color: #ac7bbe;
}

span:nth-child(25n):before, span:nth-child(25n):after {
  background: #ac7bbe;
}

span:hover:before, span:hover:after {
  -webkit-transition-duration: calc(var(--speed) / 10);
          transition-duration: calc(var(--speed) / 10);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

span:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

span:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
/*# sourceMappingURL=style.css.map */