:root {
  --speed: 800ms;
  --delay: 4s;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
}

html, body {
  height: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  cursor: crosshair;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  margin: 0;
  padding: 0;
  place-items: center;
  width: 100%;
}

span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc(1rem + 4vmin);
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  -webkit-text-stroke-width: 1vmin;
  -webkit-text-stroke-color: white;
}

span:before, span:after {
  --size: 2px;
  content: '';
  height: var(--size);
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform var(--speed) var(--delay) var(--ease);
  transition: -webkit-transform var(--speed) var(--delay) var(--ease);
  transition: transform var(--speed) var(--delay) var(--ease);
  transition: transform var(--speed) var(--delay) var(--ease), -webkit-transform var(--speed) var(--delay) var(--ease);
  width: 100%;
  z-index: -1;
}

span:after {
  height: 100%;
  width: var(--size);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

span:nth-child(1n) {
  color: #bd9995;
}

span:nth-child(1n):before, span:nth-child(1n):after {
  background: #bd9995;
}

span:nth-child(2n) {
  color: #cc657e;
}

span:nth-child(2n):before, span:nth-child(2n):after {
  background: #cc657e;
}

span:nth-child(3n) {
  color: #68d4c4;
}

span:nth-child(3n):before, span:nth-child(3n):after {
  background: #68d4c4;
}

span:nth-child(4n) {
  color: #89a572;
}

span:nth-child(4n):before, span:nth-child(4n):after {
  background: #89a572;
}

span:nth-child(5n) {
  color: #beb975;
}

span:nth-child(5n):before, span:nth-child(5n):after {
  background: #beb975;
}

span:nth-child(6n) {
  color: #a47bb8;
}

span:nth-child(6n):before, span:nth-child(6n):after {
  background: #a47bb8;
}

span:nth-child(7n) {
  color: #d8737d;
}

span:nth-child(7n):before, span:nth-child(7n):after {
  background: #d8737d;
}

span:nth-child(8n) {
  color: #cebfba;
}

span:nth-child(8n):before, span:nth-child(8n):after {
  background: #cebfba;
}

span:nth-child(9n) {
  color: #79c2d3;
}

span:nth-child(9n):before, span:nth-child(9n):after {
  background: #79c2d3;
}

span:nth-child(10n) {
  color: #b2cc99;
}

span:nth-child(10n):before, span:nth-child(10n):after {
  background: #b2cc99;
}

span:nth-child(11n) {
  color: #b1888a;
}

span:nth-child(11n):before, span:nth-child(11n):after {
  background: #b1888a;
}

span:nth-child(12n) {
  color: #9d6fbc;
}

span:nth-child(12n):before, span:nth-child(12n):after {
  background: #9d6fbc;
}

span:nth-child(13n) {
  color: #cd8c7c;
}

span:nth-child(13n):before, span:nth-child(13n):after {
  background: #cd8c7c;
}

span:nth-child(14n) {
  color: #c5db7e;
}

span:nth-child(14n):before, span:nth-child(14n):after {
  background: #c5db7e;
}

span:nth-child(15n) {
  color: #739598;
}

span:nth-child(15n):before, span:nth-child(15n):after {
  background: #739598;
}

span:nth-child(16n) {
  color: #6a809f;
}

span:nth-child(16n):before, span:nth-child(16n):after {
  background: #6a809f;
}

span:nth-child(17n) {
  color: #bfb3ba;
}

span:nth-child(17n):before, span:nth-child(17n):after {
  background: #bfb3ba;
}

span:nth-child(18n) {
  color: #a3827c;
}

span:nth-child(18n):before, span:nth-child(18n):after {
  background: #a3827c;
}

span:nth-child(19n) {
  color: #788cd4;
}

span:nth-child(19n):before, span:nth-child(19n):after {
  background: #788cd4;
}

span:nth-child(20n) {
  color: #d993a6;
}

span:nth-child(20n):before, span:nth-child(20n):after {
  background: #d993a6;
}

span:nth-child(21n) {
  color: #ca7783;
}

span:nth-child(21n):before, span:nth-child(21n):after {
  background: #ca7783;
}

span:nth-child(22n) {
  color: #757c75;
}

span:nth-child(22n):before, span:nth-child(22n):after {
  background: #757c75;
}

span:nth-child(23n) {
  color: #8d788a;
}

span:nth-child(23n):before, span:nth-child(23n):after {
  background: #8d788a;
}

span:nth-child(24n) {
  color: #a66ad7;
}

span:nth-child(24n):before, span:nth-child(24n):after {
  background: #a66ad7;
}

span:nth-child(25n) {
  color: #b3d8a4;
}

span:nth-child(25n):before, span:nth-child(25n):after {
  background: #b3d8a4;
}

span:hover:before, span:hover:after {
  -webkit-transition-duration: calc(var(--speed) / 10);
          transition-duration: calc(var(--speed) / 10);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

span:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

span:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
/*# sourceMappingURL=style.css.map */